@model HOB_WebApp.Models.UserModel

@{
    ViewData["Title"] = "Register";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/Login.css">
</head>

<body class="background">
    <div class="main-container">
        <img src="~/img/logo.png" />
        <h2>Please Login or Register</h2>

        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>

        @{ 
                var error = @ViewBag.error;
        }

        <div class="error">
            @error
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>


    </div>
</body>

</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
