@{
    ViewData["Title"] = "Index";
}

<html>
    <head>
        <link rel="stylesheet" href="~/css/Login.css">
    </head>

    <body class="background">
        <div>
            <h2>Index</h2>

            <p>Hello from our View Template!</p>
           </div>
      </body>

</html>