tr:nth-child(even) {
    background-color: #f8f8f8;
}

tr:hover {
    background-color: #eeeeee;
}

td {
    vertical-align: middle !important;
}

.home-code-container {
    margin-left: 10px;
    margin-right: 10px;
}

.home-code-header {
    margin-top: 20px;
    margin-bottom: 40px;
}

.delete-home-code {
    color: #DC3545;
}