.background {
    height: 100%;
    width: 100%;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 50px 0;
    border: 5px solid #005691;
}

.error {
    color: red;
}

.img {
    margin-top: 1em;
}

.align {
    position: relative;
    width: 100%;
}

.tagGroup {
    width: 300px;
    height: 25px;
    position: relative;
}

.button {
    position: relative;
    right: -220px;
    top: -34px;
}

