tr:nth-child(even) {
	background-color: #f8f8f8;
}

tr:hover {
	background-color: #eeeeee;
}

/*.centerblock {
	background-color: #FFDC00;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}*/

.combined-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin: 50px 0;
	border: 5px solid #005691;
}

.maintenance-reminder-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin: 50px 0;
	/*border: 5px solid #005691;*/
}

.bottom-container {
	border: 5px solid #005691;
}

.valign {
	display: table-cell;
	vertical-align: middle;
}

.add-tag-button {
	width: 200px;
	height: 50px;
	background-color: #82C91E;
	border: none;
	border-radius: 5px;
	color: white;
}

.maintenance-reminder-header {
	margin-top: 20px;
	margin-bottom: 40px;
}


.delete-maintenance-reminder {
	color: #DC3545 !important;
}
