tr:nth-child(even) {
	background-color: #f8f8f8;
}

tr:hover {
	background-color: #eeeeee;
}

.centerblock {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}


.maintenance-reminder-header {
	margin-top: 20px;
	margin-bottom: 40px;
}


.delete-maintenance-reminder {
	color: #DC3545 !important;
}
