@model IEnumerable<HOB_WebApp.Models.MaintenanceReminders>

@{
	ViewData["Title"] = "Index";
}

<html>
<head>
	<link rel="stylesheet" href="~/css/maintenanceReminders.css">
</head>

<body>
	<div class="maintenance-reminder-container">
		<h1 class="maintenance-reminder-header">Maintenance Reminders</h1>

		@*<form asp-controller="Movies" asp-action="Index">
			<p>
				Home Owner ID: <input type="text" name="SearchString">
				<input type="submit" value="Search" />
			</p>
		</form>*@

		<table class="table">
			<thead>
				<tr>
					<th>
						Home owner ID
					</th>
					<th>
						Reminder
					</th>
					<th>
						Sent
					</th>
					<th>
						Completed
					</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td>
						124245426
					</td>
					<td>
						Gutters mate
					</td>
					<td>
						4/19/20
					</td>
					<td>
						No
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</body>

</html>
