@model HOB_WebApp.Models.MaintenanceReminders

@{
	ViewData["Title"] = "Create";
}

<h1>Create Maintenance Reminder</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Reminder" class="control-label">Reminder</label>
				<input asp-for="Reminder" class="form-control" />
				<span asp-validation-for="Reminder" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Sent" class="control-label">Sent</label>
				<input asp-for="Sent" class="form-control" />
				<span asp-validation-for="Sent" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Completed" class="control-label">Completed</label>
				<input asp-for="Completed" class="form-control" />
				<span asp-validation-for="Completed" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
