@model HOB_WebApp.Models.ContentModel

@{
    ViewData["Title"] = "CreateActionPlan";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/Login.css">
</head>

<body class="background">
    <div class="main-container">
        <h1>Create an Issue</h1>
        <div class="row">
            <div class="align">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        Select a Category:
                        <select asp-for="Category" id="category" name="category" value="Select A Category">
                            <option value="kitchen">Kitchen</option>
                            <option value="plumbing">Plumbing</option>
                            <option value="electrical">Electrical</option>
                            <option value="hvac">HVAC</option>
                            <option value="livingRoom">Living Room</option>
                            <option value="bathroom">Bathroom</option>
                            <option value="closet">Closet</option>
                            <option value="laundry">Laundry</option>
                            <option value="hallway">Hallway</option>
                            <option value="exterior">Exterior</option>
                            <option value="bedroom">Bedroom</option>
                            <option value="misc">Misc.</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Link" class="control-label"></label>
                        <input asp-for="Link" class="form-control" />
                        <span asp-validation-for="Link" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Steps" class="control-label"></label>
<<<<<<< Updated upstream
                        <input asp-for="Steps" class="form-control" />
                        <span asp-validation-for="Steps" class="text-danger"></span>
                    </div>
=======
                        <p>Enter steps, pressing enter after each Step</p>
                        <textarea id="steps" asp-for="Steps" rows="6" class="form-control" style="resize:none"></textarea>
                        <span asp-validation-for="Steps" class="text-danger"></span>
                    </div>
                    <div class="form-group2" name="tags">
                        <label asp-for="Tags" class="control-label"></label>
                        <input id="Tags" asp-for="Tags" class="form-control" />
                        <span asp-validation-for="Tags" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button id="btnAddTag" type="button">Add Tag</button>
                    </div>
>>>>>>> Stashed changes
                    <div class="form-group">
                        <input type="submit" value="Create Issue" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/actionPlan.js"></script>
</body>

</html>

@section Scripts {
<<<<<<< Updated upstream
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
=======
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            //Runs when "add tag" button is clicked
            $('#btnAddTag').click(function (e) {
                //Adds another tag input to the HTML
                $('.form-group2').append('<input class="form-control" type="text" id="Tags" name="Tags" value="">');
            });
        });     
    </script>

>>>>>>> Stashed changes
}
